.write {
    padding-top: 50px;
}

.writeContainer {
    margin-left: 150px;
}

.writeTitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Lora', serif;
    color: #444;
}

.writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.writeForm {
    position: relative;
}

.writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.writeIcon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(129, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.writeIcon:hover {
    opacity: 0.7;
}

.writeInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}

.writeInput::placeholder {
    color: rgb(189, 185, 185);
    font-weight: 400;
}

.writeInput:focus {
    outline-style: none;
}

.writeText {
    width: 70vw;
    height: 100vh;
    font-family: inherit;
    font-size: 20px;
}

.writeSubmit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.writeSubmit:disabled {
    cursor: not-allowed;
}

.writeSubmit:hover {
    opacity: 0.8;
}

.uploadError {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: italic;
}

.postError {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: italic;
}